<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AllTestsSuite">
    <test name="Login Selenium Test">
        <classes>
            <class name="FirstTest"></class>
            <class name="SecondTest"></class>
            <class name="ThirdTest"></class>
            <class name="FourthTest"></class>
            <class name="FifthTest"></class>
        </classes>
    </test>
</suite>